<p id="notice"><%= notice %></p>

<h1>Carrier Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrier_types.each do |carrier_type| %>
      <tr>
        <td><%= carrier_type.name %></td>
        <td><%= link_to 'Show', carrier_type %></td>
        <td><%= link_to 'Edit', edit_carrier_type_path(carrier_type) %></td>
        <td><%= link_to 'Destroy', carrier_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrier Type', new_carrier_type_path %>
