<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @country.country_code %>
</p>

<ul>
  <% @country.ports.each do |port| %>
  <li><%= link_to port.name, port %> | <%=  link_to port.port_code, port %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
