<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Rates</h1>
</div>

<%= search_form_for @search do |f| %>
  <div class="field">
    <h3>Port Name</h3>
    <%= f.label :origin_name_cont, "From:" %>
    <%= f.text_field :origin_name_cont, placeholder: "Ex: Port of Baltimore" %>
    <%= f.label :destination_name_cont, "To:" %>
    <%= f.text_field :destination_name_cont, placeholder: "Ex: Port of Hamburg" %>
  </div>
  <hr>
  <div class="field">
    <h3>Port Code</h3>
    <%= f.label :origin_name_cont, "From:" %>
    <%= f.text_field :origin_port_code_cont, placeholder: "Ex: BWI" %>
    <%= f.label :destination_name_cont, "To:" %>
    <%= f.text_field :destination_port_code_cont, placeholder: "Ex: FRA" %>
  </div>

  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Carrier</th>
      <th>Shipment type</th>
      <th>Cost</th>
      <th>Unit of measure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.origin.name %></td>
        <td><%= rate.destination.name %></td>
        <td><%= rate.carrier.name %></td>
        <td><%= rate.shipment_type.name %></td>
        <td><%= number_to_currency(rate.cost) %></td>
        <td><%= rate.unit_of_measure.name %></td>
        <td><%= link_to 'Show', rate %></td>
        <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
        <td><%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Rate', new_rate_path %>
