<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @rate.origin.name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @rate.destination.name %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @rate.carrier.name %>
</p>

<p>
  <strong>Shipment type:</strong>
  <%= @rate.shipment_type.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@rate.cost) %>
</p>

<p>
  <strong>Unit of measure:</strong>
  <%= @rate.unit_of_measure.name %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
